img {
    max-width: 100%;
    max-height: 100%;
}

.heading{
    font-family: 'Raleway', 'sans-serif';
}

.mittal:hover{
    background-color: #DD4A48 !important;
    color: white !important;
}

.button2{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid rgb(14, 13, 13);
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:rgb(5, 5, 5);
    text-align:center;
    transition: all 0.15s;
}

b.button2:hover{
    text-decoration: none;
    color:rgb(58, 50, 50);
    border-color:rgb(63, 58, 58);
}

b.button2:active{
    color:rgb(70, 49, 49);
    border-color:rgb(75, 48, 48);
}

@media all and (max-width:30em){
    a.button2{
        display:block;
        margin:0.4em auto;
    }
}

.red{
    color: rgba(161, 49, 49, 0.897);
}

.blue{
    color: rgba(38, 11, 195, 0.794);
}